<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="home-page">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt active">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/partner_show" class="menu__item_txt">合作伙伴</a></li>
						<li class="nav__menu_item float-l"><a href="/links" class="menu__item_txt">行业链接</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="home-banner-slider">
				<div class="hd">
					<ul></ul>
				</div>
				<div class="bd">
					<ul class="pic-list">
						<li>
							<div class="slider__item slider__item1">
								<div class="new-list">
									<% news.forEach(function(item){ %>
									<div data-link="/new/<%= item._id %>" class="new-item">
										<div class="new__title clearfix">
											<span class="float-l">新闻媒体</span>
											<span class="float-r"><%- item.time.day %></span>
										</div>
										<div class="new__content">
											<div class="inner"><%- item.post %></div>
										</div>
									</div>
									<%})%>
								</div>
							</div>
						</li>
						<li>
							<div class="slider__item slider__item2">
								<div class="new-list">
									<% news.forEach(function(item){ %>
									<div data-link="/new/<%= item._id %>" class="new-item">
										<div class="new__title clearfix">
											<span class="float-l">新闻媒体</span>
											<span class="float-r"><%- item.time.day %></span>
										</div>
										<div class="new__content">
											<div class="inner"><%- item.post %></div>
										</div>
									</div>
									<%})%>
								</div>
							</div>
						</li>
						<li>
							<div class="slider__item slider__item3">
								<div class="new-list">
									<% news.forEach(function(item){ %>
									<div data-link="/new/<%= item._id %>" class="new-item">
										<div class="new__title clearfix">
											<span class="float-l">新闻媒体</span>
											<span class="float-r"><%- item.time.day %></span>
										</div>
										<div class="new__content">
											<div class="inner"><%- item.post %></div>
										</div>
									</div>
									<%})%>
								</div>
							</div>
						</li>
					</ul>
				</div>				
			</div>
			<div class="cnt cnt-about-us">
				<div class="common-w">
					<div class="cnt__title txt-c">
						<img src="/img/index/1.png" alt="公司介绍-青海恒信融锂业科技有限公司">
					</div>
					<div class="cnt__banner"></div>
					<div class="cnt-as__slider">
						<div class="bd">
							<ul class="pic-list">
								<li>
									<div class="slider__item slider__item1">
										<p>青海恒信融锂业科技有限公司于2014年成立于青海省格尔木市，人事锂、钾、硼、镁盐湖资源产品的研究开发、销售和新材料应用等;恒信融锂业致力于盐湖资源的综合开发利用，生产高品质的电池级碳酸锂，满足客户的产品需求。我公司热忱期望与各界同仁携手一道，为共同推进中国锂电产业发展不懈努力!</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="cnt-as__tech">
						<div class="cnt__tech__item cnt__tech__item1"></div>
						<div class="cnt__tech__item cnt__tech__item2"></div>
						<div class="cnt__tech__item cnt__tech__item3"></div>
						<div class="cnt__tech__item cnt__tech__item4"></div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-partner">
				<div class="common-w">
					<div class="cnt__title txt-c">
						<img src="/img/index/partner.png" alt="合作伙伴-青海恒信融锂业科技有限公司">
					</div>
					<div class="partner-list">
						<% partners.forEach(function(partner) {%>
						<div class="partner-item">
							<img src="<%= partner.partner%>" alt="青海恒信融锂业科技有限公司">
						</div>
						<%})%>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script src="/js/superslider.js"></script>
		<script>
			$(function () {
				jQuery(".home-banner-slider").slide({
					titCell: ".hd ul",
					mainCell: ".bd ul",
					autoPage: true,
					effect:"left",
					autoPlay:true,
					vis:1,
					trigger:"click"
				});

				$('[data-link]').click(function() {
					location.href = $(this).data('link');
				});
				//
			});
		</script>
	</body>
</html>